<!DOCTYPE html>
<html>
<head>
  <title><%= user.name %></title>
</head>
<body>
  <h1><%= user.name %></h1>
  <p><%= user.bio %></p>
  <h3>My Links</h3>
  <ul>
    <% user.links.forEach(link => { %>
      <li><a href="<%= link.url %>"><%= link.title %></a></li>
    <% }); %>
  </ul>
  

</body>
</html>